<div class="container s-pt-32 s-pt-32--lg" id="customicons">
    <div class="row">
        <div class="col-12">

            <div style="display: flex; flex-flow: row wrap; gap: 24px">
                {# <span class="icon__svg">{{ fetch_svg('custom/facebook-filled') }}</span>
                <span class="icon__svg">{{ fetch_svg('custom/instagram-filled') }}</span>
                <span class="icon__svg">{{ fetch_svg('custom/linkedin-filled') }}</span>
                <span class="icon__svg">{{ fetch_svg('custom/youtube-filled') }}</span> #}
            </div>
        </div>
    </div>
</div>