<section class="companies-listing">
    <div class="companies-listing__header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{ check_value(fields.title, 'h2', 'companies-listing__header-title') }}
                    {% if fields.button is array %}
                        {% include "partial/button.twig" with {
                            url : fields.button.url,
                            title : fields.button.title,
                            target : fields.button.target,
                            class : 'btn--primary companies-listing__button',
                            icon : 'arrow-left'
                        } %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row col-10 m-auto">
            {% for item in companies %}
                {% set featuredImage = item.companyLogo['url'] %}
                <div class="col-12 col-md-6 gx-0 col-lg-2">
                    {% include "partial/card.twig" with {
                        id : item.ID,
                        image : featuredImage,
                        title : item.post_title,
                        url : get_link(item.ID),
                        customClass : ' card--companieslisting'
                    } %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
