<section class="exp-industries-listing" {{ anchor_block(fields.anchor_block) }}>
    <div class="exp-industries-listing__header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{ check_value(fields.title, 'h2', 'exp-industries-listing_header-title') }}
                    {% if fields.button is array %}
                        {% include "partial/button.twig" with {
                            url : fields.button.url,
                            title : fields.button.title,
                            target : fields.button.target,
                            class : 'btn--primary exp-process-slider__button',
                            icon : 'arrow-left'
                        } %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for item in industries %}
                {% set featuredImage = function('get_the_post_thumbnail_url', item.ID) %}
                <div class="col-12 col-md-6 col-lg-3">
                    {% include "partial/card.twig" with {
                        id : item.ID,
                        image : featuredImage,
                        title : item.post_title,
                        content: item.post_excerpt,
                        url : get_link(item.ID),
                        customClass : ' card--listview'
                    } %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
