<section class="exp-linked-certi-industry-programs" {{ anchor_block(fields.anchor_block) }}>
    <div class="container">
        {% if fields.is_show_title == true or fields.is_show_text == true %}
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    {{ check_value(fields.title, 'h2', "exp-linked-certi-industry-programs__title") }}
                    {{ check_value(fields.text, 'p', "exp-linked-certi-industry-programs__content") }}
                </div>
            </div>
        {% endif %}

        {% if post_fields.p2p_certi_industry_program is array %}
            <div class="row exp-linked-certi-industry-programs__card-wrapper">
                {% for item in post_fields.p2p_certi_industry_program|slice(0, 6) %}
                    <div class="col-12 col-md-6 col-xl-4">
                        {% include "partial/logo-card.twig" with {
                            logo : get_thumbnail(item.ID),
                            title : item.post_title,
                            content : item.post_excerpt,
                            url : get_link(item.ID),
                        } %}
                    </div>
                {% endfor %}
            </div>

            {% if post_fields.p2p_certi_industry_program|length > 6 and fields.is_show_link == true and fields.link is array %}
                <div class="row exp-linked-certi-industry-programs__link-wrapper text-center">
                    <div class="col-12">
                        {% include "partial/button.twig" with {
                            url : fields.link.url,
                            title : fields.link.title,
                            target : fields.link.target,
                            class : 'btn--primary',
                            icon : 'arrow-right'
                        } %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
</section>
