    <!-- The pop-up login form -->
    <div id="js-login-popup" class="login-popup">
        <div class="login-popup__content">
            <h2>Login</h2>
            {% filter shortcodes %}
                [REGISTER_FORM_MILIMOL]
            {% endfilter %}

        </div>
    </div>

