<section class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="login__header">
                    <h1>ورود</h1>
                    <p>به میلی مول خوش آمدید.</p>
                </div>
                {% filter shortcodes %}
                    [LOGIN_FORM_MILIMOL]
                {% endfilter %}
            </div>
            <div class="col-12 col-md-6 login__content">
                <div class="login__form-background">
                    <img src={{ theme.link ~ '/images/image-header-placeholder.jpg' }} loading="lazy"  alt="Login Background"/>
                </div>
            </div>
        </div>
    </div>
</section>