<section class="signup">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="signup__header">
                    <h1>ثبت نام</h1>
                    <p>به دنیای مشترکین میلی مول بپیوندید</p>
                </div>
                {% filter shortcodes %}
                    [REGISTER_FORM_MILIMOL]
                {% endfilter %}
            </div>

            <div class="col-12 col-md-6 signup__content">
                <div class="signup__form-background">
                    <img src="/wp-content/uploads/2023/08/wastewater-analysis.jpg" loading="lazy"  alt="Login Background"/>
                </div>
            </div>
        </div>

    </div>
</section>