<section class="anchor-block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="list-inline" id="anchor-menu" data-anchor></ul>
            </div>
        </div>
    </div>
</section>