{% extends "base.twig" %}

{% block content %}

	<div class="error__wrapper">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="error__heading">
						<h1>{{ __('خطای ۴۰۴', 'expedition') }}</h1>
						<p>{{ __('متاسفانه، صفحه ای که به دنبال آن هستید، یا وجود ندارد یا به آدرس دیگری منتقل شده، شما می توانید از گزینه های زیر یکی را انتخاب کنید', 'expedition') }}:</p>
					</div>
				</div>
				<div class="col-md-8">
					{% include "partial/button.twig" with {
						url : '/',
						title : 'بازگشت به خانه',
						class : 'btn--primary justify-content-center w-100',
						icon : 'arrow-left'
					} %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
