{% extends 'base.twig' %}

{% block content %}

    <header class="archive-product__category-content">
        <div class="archive-product__category-head">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h1>{{ category.name }}</h1>
                        <p>{{ category.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="container">
        <div class="row">
            <div class="col-md-3">
                {% include 'components/products/products-filter-forms.twig' %}
            </div>
            <div class="col-md-9">
                {% include 'components/products/category-related-product.twig' %}
            </div>
        </div>
    </section>

        {% do action('woocommerce_after_shop_loop') %}
        {% do action('woocommerce_after_main_content') %}

{% endblock  %}
