<div class="exp-video__play-button-wrapper">
    <div class="exp-video__play-button">
        <svg width="24px" height="24px" aria-hidden="true" focusable="false">
            <use xlink:href="#plyr-play"></use>
        </svg>
    </div>
</div>